.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 266px;
    width: 100%;
}

.rectangle-navbar {
    background-color: black;
    height: 50px;
    width: 1515px;
    margin-top: -10px;
    margin-left: -10px;
}

.logo-container {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
    margin-bottom: 10px;
}

.logo{
    height: 150px;
    width: 150px;
}

.main-nav {
    display: flex;
    flex-direction: row;
}

.nav-item {
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Inria Serif', serif;
    font-size: 25px;
}

.title-container {
    margin-top: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 250px;
  }

.title-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 580px;
}

.title-column {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100px;
}

.title-and-image-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin-top: -200px;
    margin-left: 250px;
}

.title-part2-container{
    display: flex;
    flex-direction: column;
    height: 50%;
    height: 200px;
    margin-top: -100px;
    margin-left: 0px;
}

.title-image-container {
    width: 50%;
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 230px;
    font-weight:700px; 
}

.title-image {
    height: 310px;
    width: 510px;
}

.extra-text {
    font-family: 'Inter', sans-serif;
    font-size: 65px;
    font-weight:700px; 
    transform: rotate(-90deg);
    margin-left: 400px;
    margin-top: -170px;
}

@media screen and (max-width: 600px) {
    .main-nav {
        flex-direction: column;
    }

    .logo-container {
        margin-top: -40px;
    }

    .logo {
        height: 70px;
        width: 70px;
    }

    .nav-item {
        font-size: 18px;
        margin: 5px;
    }

    .rectangle-navbar {
        height: 40px;
    }
    
    .title-container {
        margin-top: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-left: 30px;
      }
    
    .title-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-left: 20px;
    }
    
    .title-and-image-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 50%;
        margin-top: -300px;
    }
    
    .title-image-container {
        width: 50%;
    }
    
    .title-column {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 100px;
    }
    
    .title-part2-container{
        display: flex;
        flex-direction: column;
        height: 50%;
        height: 200px;
        margin-top: -100px;
        margin-left: 160px;
    }
    
    .title {
        font-family: 'Inter', sans-serif;
        font-size: 70px;
        font-weight:700px; 
        line-height: 200px;
    }
    
    .title-image {
        height: 90px;
        width: 130px;
    }
    
    .extra-text {
        font-family: 'Inter', sans-serif;
        font-size: 25px;
        font-weight:700px; 
        transform: rotate(-90deg);
        margin-top: -300px;
        margin-left: 230px;
    }
}